<div class="col12">
	<ul class="col3">
		<li><a href="/about/history/">History</a></li>
		<li><a href="/about/accolades/">Accolades</a></li>
		<li><a href="/breakthroughs/">Breakthroughs</a></li>
		<li><a href="/about/leadership/">University Leadership</a></li>
		<li><a href="https://news.uchicago.edu/">News</a></li>
	</ul>

	<ul class="col2">
		<li><a href="https://visit.uchicago.edu/transportation.shtml">Campus Maps</a></li>
		<li><a href="https://directory.uchicago.edu/">Directory</a></li>
		<li><a href="https://hydepark.uchicago.edu/">Hyde Park</a></li>
		<li><a href="https://freeexpression.uchicago.edu/">Free Expression</a></li>
		<li><a href="https://visit.uchicago.edu/">Visit UChicago</a></li>
	</ul>

	<p class="col4 hidden-phone">One of the world’s great intellectual destinations, the University of Chicago empowers scholars and students to ask tough questions, cross disciplinary boundaries, and challenge conventional thinking to enrich human life around the globe.</p>

	<a href="https://campaign.uchicago.edu/" class="col3 hidden-phone"><img src="//d3qi0qp55mx5f5.cloudfront.net/www/i/menus/nav_about_campaign.png" alt="The University of Chicago Campaign: Inquiry &amp; Impact"  style="height:auto;width:100%;"></a>
</div>